@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
    <head>

        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <script src="~/Content/jquery.min.1.10.2.js"></script>
        <script src="~/Content/jquery.json-2.4.min.js"></script>
        <script src="~/Content/main.js" type="text/javascript"></script>
    </head>
<body >
    
    <input type="button" id="btLogin" onclick="btLoginClick();" value="登录" />
    <input type="button" id="btGet" onclick="btGetClick();" value="查询提货单" />
    <input type="button" id="btAdd" onclick="btAddClick();" value="添加" />
    <input type="button" id="btEdit" onclick="btEditClick();" value="编辑" />
    <input type="button" id="btTakeOver" onclick="btTakeOverClick();" value="提货完成" />
    <input type="button" id="btPrint" onclick="btPrintClick();" value="打印完成"/>
    <input type="button"  onclick="btStartClick();" value="获得始发站"/>
    <input type="button" onclick="btEndClick();" value="获得目的站"/>
<input type="button" onclick="btCustomerClick();" value="获得客户"/>
    <input type="button" onclick="btGetByCodeClick();" value="根据编号获得提货单" />
    <input type="button" onclick="btDeleteClick();" value="删除" />

</body>

</html>